.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix


# Ignore Python virtual environment
/.venv/**

# Ignore everything in the specstory folder (Cursor extention which exports chat histories)
/.specstory/