.license-container {
    position: relative;
    height: 100%;
    font-size: 0.8rem !important;
    line-height: 1.4rem !important;
    color: var(--dark) !important;
    background-color: var(--lightgray);
    font-weight: 200;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0.75rem 1rem 1rem 1rem;
    border: 1px solid var(--gray);
    hyphens: none;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 0rem;

    h3 {
        margin: 0 0 0.5rem 0;
        padding: 0;
        height: 17px;
        font-family: 'GeistMono';
        text-align: center;
        font-weight: 200;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 0.85rem;
        line-height: 1;
        color: var(--dark);
    }

    .license-link {
        position: absolute;
        z-index: 1;
        top: 35px;
        left: 20px;
        display: inline-flex;
        width: auto !important;

        .license-icons {
            background-color: transparent;
            padding: 0 10px;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            
            img {
                height: 20px;
                margin: 0px 8px 0px 0px !important;
                vertical-align: middle;
                border: 1px solid var(--gray);
                border-radius: 15px;

                &:last-child {
                    margin-right: 0 !important;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    .license-text {
        position: relative;
        box-sizing: border-box;
        height: 150px;
        max-height: 150px;
        overflow-y: auto;
        padding: 1rem;
        background-color: var(--light);
        border: 1px solid var(--gray);
        border-radius: 6px;

        p {
            margin: 0;
            text-align: justify;
        }
    }
}